#.gitignore
# .gitignore es un fichero que informa de los ficheros que no debe gestionar GIT. 
#  - git status no los presentará como ficheros untracked. 
#  - git add . no los añadira al staging area. 
# Los ficheros .gitignore pueden crearse en cualquier directorio del proyecto, 
#       y afectan a ese directorio y a sus subdirectorios. 
# Su contenido: líneas con patrones de nombres. 
#  - Puede usarse los comodines * y  ?
#  - Patrones terminados en / indican directorios 
#  - Un patron que empiece con ! indica negación 
#  - Se ignoran líneas en blanco y que comiencen con 
#
#  - [abc] indica cualquiera de los caracteres entre corchetes 
#  - [a-z] indica cualquiera de los caracteres en el rango especificado 
# Ejemplo 

private.txt     # excluir los ficheros con nombre "private.txt" 
*.class         # excluir los ficheros acabados en “.class”
*.[oa]          # excluir ficheros acabados en “.o” y “.a” 
!lib.a              # no excluir el fichero "lib.a" 
*~                  # excluir ficheros acabados en “~” 
testing/         # excluir directorio "testing"
